@model IEnumerable<WebApplication1.Models.Opportunity>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@**@
<!--
  Author:    Hunter Moffat
  Partner:   None
  Date:      9/23/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Hunter Moffat - This work may not be copied for use in Academic Coursework.

  I, Hunter Moffat, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     A page that displays all of the opportunities stored in the database and links to the details of each opportunity
-->
<h1 class="text-center">Opportunities</h1>
<body class="align-content-center">
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card align-items-center">
                <img src="~/images/@Html.DisplayFor(modelItem => item.Image)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Professor)</p>
                </div>
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@item.OpportunityID" class="btn btn-primary">Details</a>
                </div>
            </div>
        }



    </div>
</body>
